<input type="text" value="{{value}}" {{bind-attr disabled="isDisabled"}}><div class="buttons">
    <div class="up" {{action "increment" "1"}}></div>
    <div class="down" {{action "increment" "-1"}}></div>
</div>