@mixin box-shadow($top, $left, $blur, $stretch, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $stretch $color #{$inset};
  -moz-box-shadow:$top $left $blur $stretch $color #{$inset};
  box-shadow:$top $left $blur $stretch $color #{$inset};
}

@mixin linear-gradient($from, $to, $pos:'top') {
  background-color: $to;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient($pos, $from, $to);
  background-image:    -moz-linear-gradient($pos, $from, $to);
  background-image:     -ms-linear-gradient($pos, $from, $to);
  background-image:      -o-linear-gradient($pos, $from, $to);
  background-image:         linear-gradient($pos, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$from}', EndColorStr='#{$to}');
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin clearfix {
  &::after{
    clear: both;
    content: '';
    display: block;
  }
}
