select {
  border: 1px solid #CECECE;
  border-radius: 0;
  -webkit-appearance: none;
  height: 20px;
  padding: 0 17px 0 10px;
  background: #FFFFFF;
  box-sizing: border-box;
  outline: 0;
  line-height: 0.8;
  background: url(/assets/images/dropdown.png) no-repeat top right;
  -moz-appearance: none;
}
