.buyButton {
  width: 116px;
  height: 40px;

  background-repeat: no-repeat;
  background-image: url(/assets/images/buy.png);
  @include linear-gradient(#00EF30, #00AB20);

  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;

  span {
    text-align: center;
    display: block;
    width: 75px;
    line-height: 2.2;
  }
}
