@mixin button{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
}

.numberfield {
  position: relative;

  &::selection{
    background: none;
  }

  input {
    vertical-align: top;
    height: 22px;
    box-sizing: border-box;
    border: 1px solid #CECECE;
    text-align: center;
    border-right: 0;
    outline: 0;
    width: 100%;
    padding-right: 18px;
  }


  .buttons {
    display: inline-block;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    position: absolute;
    margin-left: -18px;

    > div {
      width: 16px;
      height: 10px;
      cursor: pointer;
    }
    .up {
      @include linear-gradient(#00EF30, #00AE21);

      &::after{
        @include button;
        background: url(/assets/images/vr-numberfield/up.png) no-repeat center center;
      }

      &:hover{
        @include linear-gradient(#5bff54, #00AE21);
      }

      &:active{
        background: #00AE21;
      }
    }
    .down {
      @include linear-gradient(#00AE21, #00EF30);

      &::after{
        @include button;
        background: url(/assets/images/vr-numberfield/down.png) no-repeat center center;
      }

      &:hover{
        @include linear-gradient(#00AE21, #5bff54);
      }

      &:active{
        background: #00AE21;
      }
    }
  }

  &.disabled {
    .buttons .up, .buttons .down{
      background: #CCCCCC;
    }
    input {
      color: #CCCCCC;
    }
  }
}
